/* Custom CSS */
body {
    background-color: #faedde;
  }
  
  .card {
    margin-top: 20px;
    border-radius: .75rem;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -15px -15px 20px  rgba(0,0,0,0.1);
  }
  
  .logo {
    max-width: 100px;
    margin: 0 auto;
    display: block;
    
  }
  
.form-control{
    border-radius: .5rem;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -15px -15px 20px #fff;


}